<!DOCTYPE html>
<html lang="en">
<head>
  <title>RSS Aggregator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black">
<form action="/index/results/" method="get">
      <h1 align="center" style="font-size: 100px; color: white"><u>LINK TO RSS FEED</u></h1>
        <div align="center"><input type="text" name="ln">
        <input type="submit" value="Search"></div>
    </form>
</body>
</html>